body{
    background-color: white;
}

.signing{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    color: black;
}

.signing h1{
    font-size: 5em;
}

.signing p{
    font-size: 1.1em;
    margin-top: -20px;
}

.signing span{
    color: var(--navy-blue);
    cursor: pointer;
}

.signing > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    height: 50vh;
}

.signing > div > input{
    font-size: 1.2em;
    color: black;
    border: 1.5px solid var(--navy-blue);
}

.sign-btn{
    font-size: 1.1em;
    width: 100%;
    background-color: var(--navy-blue);
}
.hidden-toggles {
    position: relative;
    border-radius: 999em;
    overflow: hidden;
    height: 2.75em;
    font-size: 1.2em;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.hidden-toggles > * {
    flex: 0 0 33.33%;
}
.hidden-toggles:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1.5px solid var(--navy-blue);
    border-radius: 999em;
    pointer-events: none;
}

.hidden-toggles__input {
    display: none;
}
.hidden-toggles__input:checked + .hidden-toggles__label {
    background-color: var(--navy-blue);
    color: white;
}
.hidden-toggles__input:checked + .hidden-toggles__label:before {
    opacity: 1;
}
.hidden-toggles__input:nth-of-type(1) + label {
    order: 4;
}
.hidden-toggles__input:nth-of-type(2) + label {
    order: 3;
}
.hidden-toggles__input:nth-of-type(3) + label {
    order: 2;
}

.hidden-toggles__label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-out;
    color: var(--navy-blue);
}
.hidden-toggles__label:hover {
    color: var(--navy-blue);
}
.hidden-toggles__label:nth-of-type(2) {
    border-left: 1px solid var(--navy-blue);
    border-right: 1px solid var(--navy-blue);
}
.hidden-toggles__label:last-of-type {
    border-left: 1px solid var(--navy-blue);
}